.flex {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 350px;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 5px;
  padding: 3em;
}

.card:hover {
  background-color: var(--ifm-color-primary);
  border: none;
  color: var(--ifm-font-color-base-inverse);
  text-decoration: none;
}